<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Analyse</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
            margin-top: 20px; /* ajustez la valeur en fonction de vos besoins */
        }
    
        canvas.small-canvas {
            width: 20px;
            height: 20px;
        }
        .navbar .nav-link {
            margin-right: 10px;
            font-family: "Montserrat", sans-serif;
        }
          .navbar .nav-link:last-child {
            margin-right: 0;
          }

          body {
            font-family: "Montserrat", sans-serif;
          }
        
          p {
            font-family: "Montserrat", sans-serif;
          }
          
    </style>
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link btn btn-dark" href="/">Accueil</a>
            <a class="nav-link btn btn-dark" href="/analyse">Analyse</a>
            <a class="nav-link btn btn-dark" href="/prediction">Prédiction</a>
            <a class="nav-link btn btn-dark" href="/graph">En construction</a>
        </nav>
        
    
    <h1>Analyse</h1>
   
    <div id="graph-container"></div>

    
    <canvas id="{{ chart0_id }}" width="500" height="500" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph0" class="btn btn-dark">Afficher le graphique du nombre de messages par mois</button>
    </div>

    <canvas id="{{ chart1_id }}" width="600" height="600" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph1" class="btn btn-dark">Afficher le graphique du nombre de messages</button>
    </div>
    
    <canvas id="{{ chart2_id }}" width="600" height="600" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph2" class="btn btn-dark">Afficher le graphique de la répartition homme femme</button>
    </div>

    <canvas id="{{ chart21_id }}" width="500" height="500" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph21" class="btn btn-dark">Afficher le graphique du taux de réussite selon les genres</button>
    </div>

    <canvas id="{{ chart3_id }}" width="500" height="500" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph3" class="btn btn-dark">Afficher le graphique du nombre d'utilisateurs par pays</button>
    </div>

    <canvas id="{{ chart4_id }}" width="600" height="600" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph4" class="btn btn-dark">Afficher le graphique du pourcentage de réussite par pays</button>
    </div>

    <canvas id="{{ chart6_id }}" width="500" height="500" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph6" class="btn btn-dark">Afficher le graphique de la répartition des utilisateurs selon leur niveau d'éducation</button>
    </div>

    <canvas id="{{ chart7_id }}" width="500" height="500" class="mx-auto small-canvas" style="margin-bottom: 20px;"></canvas>
    <div class="text-center">
        <button id="show-graph7" class="btn btn-dark">Afficher le graphique du pourcentage de réussite par niveau d'éducation</button>
    </div>
    
    <script>

        var dates = [
        "2014-02", "2014-03", "2014-04", "2014-05", "2014-06", "2014-07", "2014-08", "2014-09", "2014-10", "2014-11", "2014-12",
        "2015-01", "2015-02", "2015-03", "2015-04", "2015-05", "2015-07", "2015-08", "2015-09", "2015-10", "2015-11", "2015-12",
        "2016-01", "2016-02", "2016-03", "2016-04", "2016-05", "2016-06", "2016-07", "2016-08", "2016-09", "2016-10", "2016-11", "2016-12",
        "2017-01", "2017-02", "2017-03", "2017-04", "2017-05", "2017-06", "2017-07", "2017-08", "2017-09", "2017-10", "2017-11", "2017-12",
        "2018-01", "2018-02", "2018-03", "2018-04", "2018-05", "2018-06", "2018-07", "2018-08", "2018-09", "2018-10", "2018-11", "2018-12",
        "2019-01", "2019-02", "2019-03", "2019-04", "2019-05", "2019-06", "2019-07", "2019-08", "2019-09", "2019-10", "2019-11", "2019-12",
        "2020-01", "2020-02", "2020-03", "2020-04", "2020-05", "2020-06", "2020-07", "2020-08", "2020-09", "2020-10", "2020-11", "2020-12",
        "2021-01", "2021-02", "2021-03", "2021-04", "2021-05", "2021-06", "2021-07", "2021-08", "2021-09", "2021-10", "2021-11", "2021-12",
        "2022-01", "2022-02", "2022-03", "2022-04", "2022-05", "2022-06"
        ];
        var counts = [
        4484, 3307, 1429, 5419, 1785, 298, 5, 6, 451, 373, 98,
        576, 971, 679, 455, 14,103,5,6,12,705,517,490,440,322,4008,5804,9939,4772,3416,2624,2805,3345,2327,4513,9421,9742,6366,8696,6533,2547,1450,7336,16196,16894,8513,
        4150,1835,3233,5342,4816,5121,1747,50,1114,1813,3213,1247,4858,2105,1743,985,433,470,118,66,308,237,2374,1758,1456,434,375,1001,504,617,165,83,161,379,984,801,1507,
        1040,367,697,765,1142,272,11,61,118,127,63,419,92,33,75,138,58];

        var button = document.getElementById("show-graph0");
        var chartData0 = {
            labels: dates,
            datasets: [{
                label: "Répartition des messages par mois",
                data: counts,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1
            }]
        };
        var chartOptions0 = {
            animation: {
                duration: 4000,
            
            },
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };
        var ctx0 = document.getElementById('{{ chart0_id }}').getContext('2d');
        var myChart0 = null;
        var isOpen0 = false;

        button.addEventListener('click', function() {
            if (isOpen0) {
                myChart0.destroy();
                isOpen0 = false;
                canvases[0].classList.add('small-canvas');
            } else {
                myChart0 = new Chart(ctx0, {
                    type: 'line',
                    data: chartData0,
                    options: chartOptions0
                });
                isOpen0 = true;
                canvases[0].classList.remove('small-canvas');
            }
        });

        var canvases = document.querySelectorAll('canvas.small-canvas');
    
        var chartData = {{ data | tojson }};
        
        var isOpen1 = false;
        var isOpen2 = false;
        var isOpen21 = false;
        var isOpen3 = false;
        var isOpen4 = false;
        var isOpen6 = false;
        var isOpen7 = false;


        // Button for chart 1
        var showGraphButton1 = document.getElementById('show-graph1');
        var chartData1 = chartData.graph1.data;
        var chartOptions1 = chartData.graph1.options;
        chartOptions1.responsive = false;
        var ctx1 = document.getElementById('{{ chart1_id }}').getContext('2d');
        var myChart1 = null;
    
        showGraphButton1.addEventListener('click', function() {
            if (isOpen1) {
                myChart1.destroy();
                isOpen1 = false;
                canvases[0].classList.add('small-canvas');
            } else {
                myChart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: chartData1,
                    options: chartOptions1
                });
                isOpen1 = true;
                
            }
        });
    
        // Button for chart 2
        var showGraphButton2 = document.getElementById('show-graph2');
        var chartData2 = chartData.graph2.data;
        var chartOptions2 = chartData.graph2.options;
        chartOptions2.responsive = false;
        var ctx2 = document.getElementById('{{ chart2_id }}').getContext('2d');
        var myChart2 = null;
    
        showGraphButton2.addEventListener('click', function() {
            if (isOpen2) {
                myChart2.destroy();
                isOpen2 = false;
                canvases[1].classList.add('small-canvas');
            } else {
                myChart2 = new Chart(ctx2, {
                    type: 'doughnut',
                    data: chartData2,
                    options: chartOptions2
                });
                isOpen2 = true;
            }
        });


                // Button for chart 21
        var showGraphButton21 = document.getElementById('show-graph21');
        var chartData21 = chartData.graph21.data;
        var chartOptions21 = chartData.graph21.options;
        chartOptions21.responsive = false;
        var ctx21 = document.getElementById('{{ chart21_id }}').getContext('2d');
        var myChart21 = null;

        showGraphButton21.addEventListener('click', function() {
            if (isOpen21) {
                myChart21.destroy();
                isOpen21 = false;
            } else {
                myChart21 = new Chart(ctx21, {
                    type: 'bar',
                    data: chartData21,
                    options: chartOptions21
                });
                isOpen21 = true;
            }
        });



                // Button for chart 3
        var showGraphButton3 = document.getElementById('show-graph3');
        var chartData3 = chartData.graph3.data;
        var chartOptions3 = chartData.graph3.options;
        chartOptions3.responsive = false;
        var ctx3 = document.getElementById('{{ chart3_id }}').getContext('2d');
        var myChart3 = null;

        showGraphButton3.addEventListener('click', function() {
            if (isOpen3) {
                myChart3.destroy();
                isOpen3 = false;
            } else {
                myChart3 = new Chart(ctx3, {
                    type: 'doughnut',
                    data: chartData3,
                    options: chartOptions3
                });
                isOpen3 = true;
            }
        });


                        // Button for chart 4
        var showGraphButton4 = document.getElementById('show-graph4');
        var chartData4 = chartData.graph4.data;
        var chartOptions4 = chartData.graph4.options;
        chartOptions4.responsive = false;
        var ctx4 = document.getElementById('{{ chart4_id }}').getContext('2d');
        var myChart4 = null;

        showGraphButton4.addEventListener('click', function() {
            if (isOpen4) {
                myChart4.destroy();
                isOpen4 = false;
            } else {
                myChart4 = new Chart(ctx4, {
                    type: 'polarArea',
                    data: chartData4,
                    options: chartOptions4
                });
                isOpen4 = true;
            }
        });
        
                        // Button for chart 6
        var showGraphButton6 = document.getElementById('show-graph6');
        var chartData6 = chartData.graph6.data;
        var chartOptions6 = chartData.graph6.options;
        chartOptions6.responsive = false;
        var ctx6 = document.getElementById('{{ chart6_id }}').getContext('2d');
        var myChart6 = null;

        showGraphButton6.addEventListener('click', function() {
            if (isOpen6) {
                myChart6.destroy();
                isOpen6 = false;
            } else {
                myChart6 = new Chart(ctx6, {
                    type: 'doughnut',
                    data: chartData6,
                    options: chartOptions6
                });
                isOpen6 = true;
            }
        });


                        // Button for chart 7
        var showGraphButton7 = document.getElementById('show-graph7');
        var chartData7 = chartData.graph7.data;
        var chartOptions7 = chartData.graph7.options;
        chartOptions7.responsive = false;
        var ctx7 = document.getElementById('{{ chart7_id }}').getContext('2d');
        var myChart7 = null;

        showGraphButton7.addEventListener('click', function() {
            if (isOpen7) {
                myChart7.destroy();
                isOpen7 = false;
            } else {
                myChart7 = new Chart(ctx7, {
                    type: 'polarArea',
                    data: chartData7,
                    options: chartOptions7
                });
                isOpen7 = true;
            }
        });

    </script>
    
    
</body>
</html>
